@import '_variables';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: white;
}

.container{
}

h2{
  font-size:1.5rem;

}

h1{
  font-size: 4rem;
  font-family: 'Lato', sans-serif;
}

.sidebar{
  background-color: #e0e0e0;
}

.right-sidebar{
  background-color: #e0e0e0;

}

.container-fluid{
  background-color: #e0e0e0;
}
.article{
  background-color: white;
  padding: 5px 10px 10px 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.row{
  display:inline-flex;
}
.container-fluid{
  //  padding:0px;
}

@media only screen and (max-width : 640px) {
  .article{
    background-color: white;
    padding: 5px 10px 10px 10px;
    border-radius: 0px;
    margin-bottom: 35px;
    overflow: hidden;
  }
}

@import 'animate';
