.Layout-topBar {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  line-height: 50px;
  text-align: center;
  position: fixed;
}

.Layout-hamburger {
  font-size: 34px;
  left: 0;
  top: 0;
  padding: 5px 15px 0 15px;
  position: fixed;
}

.Layout-hamburger2 {
  font-size: 34px;
  left: 95px;
  top: 0;
  padding: 5px 15px 0 15px;
  position: fixed;
}


.Layout-content {
//  height: 100%;

}

.Layout-nav {
  background: #ccc;
  border-bottom: rgba(100, 100, 100, 0.3);
  height: 100%;
  padding: 10px;

}

.Layout-navLink,
.Layout-lastNavLink {
  color: black;
  display: block;
  font-family: sans-serif;
  padding: 10px 0;

  text-decoration: none;
}

.Layout-navLink {
  border-bottom: 1px solid rgba(20, 20, 20, 0.3);
}

.Header {
  font-family: 'Lobster';
  font-size: 16px;
  text-align: center;
  padding: 5px;
  font-weight: bold;
}


#react-root {
  height: 20px;
  width: 0;
}

ul.slider{
  list-style-type: none;
  padding: 10px;
  font-size: 3rem;
  border-bottom: 1px solid black;
  display: block;

  h3{
    font-size: 1.75rem;
    text-decoration: dashed;
    margin:0 0 5px 0;
    padding-left: 0;
  }

  input{
    width: 70%;
    display: block;
    border: 1px solid black;
    padding: 0 0 0 5px;
    border-radius: 0;
  }
}