
#quiz ul{
  list-style:none;
  margin:0;
  padding:0;
  .quizQuestion{
    margin:5px;
    border:1px solid green;
    min-width:150px;
    width:100%;
    border-radius: 5px;
    padding: 10px;
    background: wheat;
    transition: all .2s ease-in-out;
//    @include arrow-lazy($color: #277ca3);
    &:hover {
      background: green;
      color: white;
      border-color: white;
    }
  }

  li{
    float:left;
  }
}
h1.myQuiz{
  text-align: center;
  background: #f1f0f1;
  border-bottom: 1px solid #f3f3f3;
  border-radius: 5px;
  padding:10px;
  margin-top:15px;
}
@mixin arrow-lazy($direction: top, $size: 10px, $color: #ccc, $center: 50%, $margin: -1px, $pseudo: before){
  position: relative;
  border-color: $color;

  &:#{$pseudo} {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-color: $color;

  @if $direction == "right" {
    top: $center;
    left: 100%;
    margin-left: $margin;
    margin-top: $size * -1;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    border-left-color: inherit;
  } @else if $direction == "down" {
    top: 100%;
    left: $center;
    margin-top: $margin;
    margin-left: $size * -1;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    border-top-color: inherit;
  } @else if $direction == "left" {
    top: $center;
    right: 100%;
    margin-right: $margin;
    margin-top: $size * -1;
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right:$size solid $color;
    border-right-color: inherit;
  } @else {
    bottom: 100%;
    left: $center;
    margin-bottom: $margin;
    margin-left: $size * -1;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    border-bottom-color: inherit;
  }
}
}

.myQuiz {
  margin: 20px auto;
  max-width: 480px;
}

@media only screen and (max-width : 320px) {
  .myQuiz {
    margin: 0 auto;
    max-width: 320px;
    overflow-x: hidden;
  }
}


//.b {
//  background: #666;
//  @include arrow-lazy(down, $color: #666, $margin: 5px);
//}
//.c {
//  background: #39322f;
//  @include arrow-lazy(left, 6px, #39322f, 70%);
//}
//.d {
//  background: #b35d3c;
//  @include arrow-lazy(right, 25px, #b35d3c, $margin: 0);
//}


//
//html {
//  background: #faf9ea;
//  text-align: center;
//}
.questionTitle{
  display: block;
  margin: 0 auto;
  text-align: left;
  background: transparent;
  font-weight: normal;
  font-size: 1.5rem;
  border-radius: 5px;

}